body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 2rem;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  background: #0000b5;
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
  color: white;
}

a,
a:visited {
  color: red;
}

/* @media (prefers-color-scheme: dark) {
  body, html {
    color: #d3d3d3;
    background: #1b1b1b;
  }
} */

@media only screen and (max-width: 600px) {
  body {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    margin: 15px;
  }
}
