.wkoury {
    max-width: 600px;
    margin: 50px;
    font-size: 1.5rem;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
}

a, a:visited {
    color: purple;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #d3d3d3;
        background: #1b1b1b;
    }
}